/********************************* HEADER  ********************************/
ul{
    text-align: center;
}
.business-banner-wrapper {
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}

.business-banner-wrapper .business-banner-caption-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    
    overflow: hidden;
    background: url("http://2017.igem.org/wiki/images/8/83/T--Cornell--4H3.jpg");
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
}

.business-banner-caption {
    position: absolute;
    left: 50%;
    top: 45%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 65px;
    color: #000000;
}

/********************************* END HEADER  ********************************/

/********************************* TABS  ********************************/

.business-title {
  font-family: 'Crimson Text', serif;
  font-size: 30px;
  color: black;
    margin-bottom: 30px;
}

.business-overview {
  font-size: 20px;
  line-height: normal;
    color: black;
}

.tab-header {
  padding: 28px 0;
  font-size: 22px;
  font-weight: bold;
}

.tab-content {
  padding: 0 0px;
  font-size: 20px;
  line-height: normal;
}

/********************************* END TABS  ********************************/