/********************************* HEADER  ********************************/

.practices-banner-wrapper {
    margin-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}

.practices-banner-wrapper .practices-banner-caption-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url("http://2017.igem.org/wiki/images/6/65/CornellSlideshowSlide2.JPG");
    background-position: center center;
    background-size: cover;
}

.practices-banner-caption {
    position: absolute;
    left: 50%;
    top: 45%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 65px;
    color: #000000;
}

/********************************* END HEADER  ********************************/

/********************************* TABS  ********************************/

.practices-title {
  font-family: 'Source Sans Pro', serif;
  font-size: 30px;
  /*font-weight: bold;*/
}

.practices-overview {
  font-size: 16px;
  line-height: normal;
}

.tab-header {
  padding: 15px 0;
  font-size: 22px;
  text-align: center;
}

.tab-content {
  padding: 0 175px;
  font-size: 16px;
  text-align: center;
  line-height: normal;
}

/********************************* END TABS  ********************************/

/********************************* TIMELINE  ********************************/

.timeline {
  position: relative;
  margin-top: 100px;
}

/* vertical line */
.timeline::before {
  content: '';
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 925px;
  width: 1.5px;
  background: #808080;
  z-index: 1;
}

.timeline-block {
  margin-bottom: 50px;
}

.timeline-img {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  width: 80%;
}

.date {
  font-family: 'Source Sans Pro', serif;
}

.timeline-content h3 {
  font-family: 'Source Sans Pro', serif;
  font-weight: bold;
}

.timeline-content p {
  line-height: normal;
  font-size: 16px;
}

.timeline-content-left {
  padding-right: 25px;
  text-align: right;
}

.timeline-content-right {
  padding-left: 25px;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #567151;
  background: #567151;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999
}

/********************************* END TIMELINE  ********************************/
